.detail-cont { position: absolute; left: 0;top: 50px; width: 100%;
    bottom: 0;;line-height: 40px;
}
.text-info { padding: 10px;line-height: 26px;}
.look-detail {position: absolute; left: 0;bottom: 50px; width: 100%;
    bottom: 50px; border-top: 1px solid #999;padding:2px 10px; }
.swiper-self-pagination { text-align: center}
.swiper-self-pagination span {margin: 0 5px;}
.add-cart { height: 50px; position: absolute;text-align: center;  bottom: 0; left: 0;
    width: 100%; background-color: #ccc; padding: 10px;}
.add-cart button { background-color: #e85520; line-height: 30px; font-size: 16px;  color: #fff;}
.swiper-container { border-bottom: 1px solid #ccc}
img { width:100%; }
.swiper-pagination-bullet { background-color: red}